In [1]:
%run get_archive.py

Loading configuration files.
Creating archives.
Getting FRED data.
Getting Yahoo Financial data.
Getting New York Times data.

In [2]:
archive.yf_data

,Date,Symbol,high,low,open,close,volume,adjclose,dividend
0,2000-01-03,WMT,69.000000,65.500000,68.375000,66.812500,8369900,45.262192,0.0
1,2000-01-04,WMT,65.812500,64.187500,65.500000,64.312500,6745100,43.568573,0.0
2,2000-01-05,WMT,64.375000,62.187500,63.875000,63.000000,7018700,42.679428,0.0
3,2000-01-06,WMT,64.562500,62.687500,63.000000,63.687500,6544500,43.145149,0.0
4,2000-01-07,WMT,68.937500,64.500000,64.500000,68.500000,7976900,46.405392,0.0
...,...,...,...,...,...,...,...,...,...
5279,2020-12-24,WMT,144.389999,143.179993,143.539993,143.500000,3018200,142.344345,0.0
5280,2020-12-28,WMT,145.300003,143.330002,144.039993,145.220001,6448300,144.050491,0.0
5281,2020-12-29,WMT,145.850006,143.589996,145.639999,144.300003,5979400,143.137909,0.0
5282,2020-12-30,WMT,145.149994,143.940002,144.880005,144.179993,6250400,143.018860,0.0
5283,2020-12-31,WMT,144.270004,142.850006,144.199997,144.149994,5938000,142.989090,0.0